NEXT_PUBLIC_MONGO_URI=<Enter the Value>
NEXT_PUBLIC_BASE_URL=<Enter the Value>
NODE_ENV=<Enter the Value>

JWT_SECRET=<Enter the Value>

NODEMAILER_HOST=<Enter the Value>
NODEMAILER_PORT=<Enter the Value>
NODEMAILER_EMAIL=<Enter the Value>
NODEMAILER_PASSWORD=<Enter the Value>
